services:
  web:
    restart: unless-stopped
    build:
      context: .
      dockerfile: prod.dockerfile
    ports:
      - 81:80
      - 5173:5173
    environment:
      # APP
      APP_NAME: Laravel
      APP_ENV: local
      APP_DEBUG: "true"
      APP_URL: http://localhost

      APP_LOCALE: en
      APP_FALLBACK_LOCALE: en
      APP_FAKER_LOCALE: en_US

      BCRYPT_ROUNDS: 12

      LOG_CHANNEL: std_err
      LOG_STACK: single
      LOG_DEPRECATIONS_CHANNEL: "null"
      LOG_LEVEL: debug

      # DB
      DB_CONNECTION: pgsql
      DB_HOST: 192.168.0.104
      DB_PORT: 5432
      DB_DATABASE: db_prod_keuangan
      DB_USERNAME: postgres
      DB_PASSWORD: postgres

      # SESSION
      SESSION_DRIVER: redis
      SESSION_LIFETIME: 120
      SESSION_ENCRYPT: "false"
      SESSION_PATH: /
      SESSION_DOMAIN: "null"

      # CACHE & QUEUE
      CACHE_STORE: database
      QUEUE_CONNECTION: database

      # REDIS
      REDIS_CLIENT: phpredis
      REDIS_HOST: 192.168.0.104
      REDIS_PASSWORD: redis123
      REDIS_PORT: 6379

      # MAIL
      MAIL_MAILER: log
      MAIL_SCHEME: "null"
      MAIL_HOST: 127.0.0.1
      MAIL_PORT: 2525
      MAIL_USERNAME: "null"
      MAIL_PASSWORD: "null"
      MAIL_FROM_ADDRESS: hello@example.com
      MAIL_FROM_NAME: Laravel

      # VITE
      VITE_APP_NAME: Laravel
      VITE_API_URL: https://saku.mediakolaborasi.com/api

      # GOOGLE OAUTH
      GOOGLE_REDIRECT_URI: https://saku.mediakolaborasi.com/api/auth/google/callback
      FRONTEND_URL: https://saku.mediakolaborasi.com